.underline{
    margin-top: 1%;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
}
.welcome-container{
    color:aliceblue;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1px;
    margin-left: 1%;
}