body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

.update-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(6px); 
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  inset: 0;
}

.update-modal-container {
  background-color: #1c1c1c;
  border-radius: 12px;
  padding: 2rem 2rem;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.225);
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
}

.update-modal-container h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: white;
  color:rgb(59, 59, 144);
}

 .update-modal-buttons {
    display: flex;
    flex-direction: row;
    gap: 1px;
    justify-content: flex-end;
    gap: 1em
}

.update {   
    padding: 0.7rem 2rem;
    background-color: #1c1c1c ;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
    margin-top: 3rem;
}

.cancel {   
    padding: 0.7rem 2rem;
    background-color: #1c1c1c ;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
    margin-top: 3rem;
}

.update:hover {
    background-color: white;
    color: black;
} 

.cancel:hover{
    background-color: red;
    color:white;
    border: red;
}


.update-modal-container input {
  padding: 0.75rem 1rem;
  /* width: 255px; */
  background-color: #333;
  border: 1px solid #555;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.update-modal-container input:focus {
  border-color: white;
}