body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.dashboard-ancestor-container{
    display:flex;
    flex-direction: column;
    /* gap: 2em; */
    /* background-color: #333; */
}

.dashboard-header-container{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #222222;
    height:  7em;
    
}

.dashboard-header-container p{
    margin-left: 50px;
    font-size: 3em;
    font-weight: 700;
    align-self: center;
}

.dashboard-header-username{
    color: blue;    
}

.dashboard-header-container button{
    height: 25px;
    align-self: flex-end;
    margin-bottom: 1.5em;
    margin-right: 2em;
    border:none;
    outline:  none;
    background-color: #222222;
    color: rgb(255, 93, 93);
    font-weight:lighter ;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.729);
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.dashboard-header-container button:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.729);
    
    transform: translateY(-1px);
}

.current-balance-container{
    background-color: #101015;
    margin-top: 1em;
    align-self: center;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 50px;
    font-weight: 600;
    padding-left: 2em;
    padding-right: 2em;
}

.current-balance{
    font-weight: 100;
    color: green;
}

.dashboard-rule-1 {
  border: none;                  
  width: 90vw;
  height: 1px;                 
  background-color: #444444;      
  margin-top: 2em;                
}

.history-headings-container{
    display:flex;
    justify-content: space-between;
    margin-top: 1em;
    color: #555;
}
.history-headings-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border: none;
    outline: none;
    margin-left: 5.5vw;
    padding: 0.5em;
    border-radius: 10%;
    width: 50px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.transaction-history-heading {
    margin-left: 6em;
}

.history-headings-container button div {
    font-size: 32px;
    color: #000;
    line-height: 1;
   
}

.history-headings-container button:hover {
    background-color: #303030;
}

.transaction-history-order{
    background-color: #333;
    border:  none;
    color: #999;
    margin-right: 5.5vw;
    width: 10em;

}

.transaction-history{
    display: flex;
    flex-direction: column;
    gap: 0.03rem;
}