body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.dashboard-ancestor-container{
    display:flex;
    flex-direction: column;
    /* background-color: #333; */
}

.dashboard-header-container{
    display:flex;
    justify-content: space-between;
}

.dashboard-header-container p{
    margin-left: 20px;
}
.dashboard-header-container button{
    display:  inline;
}