body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-card {
    background-color: #1c1c1c;
    border-radius: 12px;
    padding: 2rem 2rem;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.225);
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.signup-header {
    background-color: #1c1c1c;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.signup-form div{
     display: flex;
    flex-direction: column;
    gap: 5px;
   
}

.signup-form input {
    padding: 0.75rem 1rem;
    width: 255px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}

.signup-form input:focus {
    border-color: white;
}

.signup-submit-container {
    display: flex;
    justify-content: center;
}

.signup-submit {
    padding: 0.7rem 2rem;
    background-color: #1c1c1c ;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
    margin-top: 3rem;
}

.signup-submit:hover {
    background-color: white;
    color: black;
}
.login-link-container{
    font-size: 0.8em;
    color: #777
}

.login-link-inline{
    text-decoration: underline solid white;
    text-decoration-thickness: 0.2px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-link-inline:hover{
    text-shadow: 0 0 2px white;
}

.balance-label{
    font-size: 1.5rem;
}